.purple {
  color: purple;
  text-align: center;
  // SASS enable you to nest styles
  span {
    text-decoration: underline;
  }
}

.p {
  text-align: center;
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}
